
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Home/Layout/Layout.cshtml";
}

<h2>MusteriEkle</h2>
<form method="post">
    <div class="mb-3">
        <label class="form-label">Ad</label>
        <input type="text" class="form-control" name="MUSTERIAD" />

    </div>

    <div class="mb-3">
        <label class="form-label">Soyad</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />

    </div>
    <div class="mb-3">
        <label class="form-label">TELEFON</label>
        <input type="text" class="form-control" name="MUSTERITELEFON" />

    </div>
    <button type="submit" class="btn btn-success">Kayıt Ekle</button>
</form>
